<footer class="main-footer">
    <section class="main-footer__top-section">
        <div class="flex-container jc-space-between">
            <div class="main-footer__logo">
                <a href="#">техномарт</a>
            </div>
            <nav class="main-footer__site-navigation">
                <ul class="site-navigation__list">
                    <li class="item"><a href="#">Компания</a></li>
                    <li class="item"><a href="#">Новости</a></li>
                    <li class="item"><a href="#">Каталог</a></li>
                    <li class="item"><a href="#">Доставка</a></li>
                    <li class="item"><a href="#">Контакты</a></li>
                </ul>
            </nav>
        </div>
    </section>

    <section class="main-footer__mid-section">
        <div class="flex-container jc-space-between">
            <p class="main-footer__address">
                г. Санкт-Петербург, ул. Б. Конюшенная, д. 19/8 <br>
                +7 (812) 555-05-55
            </p>

            <nav class="main-footer__product-navigation">
                <ul class="product-navigation__list">
                    <li class="item"><a href="#">Материалы</a></li>
                    <li class="item"><a href="#">Техника</a></li>
                    <li class="item"><a href="#">Инструмент</a></li>
                    <li class="item"><a href="#">Спецпредложения</a></li>
                </ul>
            </nav>
        </div>
    </section>

    <section class="main-footer__bot-section">
        <div class="flex-container jc-space-between">
            <p class="main-footer__rights">
                © 2010–2017 Компания «Техномарт» <br>
                Все права защищены
            </p>

            <ul class="main-footer__socials">
                <li class="item">
                    <a href="">
                        <span class="vk-img">
                            {% include 'layouts/basic/footer/icons/socials/vk.njk'%}
                        </span>
                    </a>
                </li>
                <li class="item"><a href=""><span></span></a></li>
                <li class="item"><a href=""><span></span></a></li>
            </ul>

            <ul class="main-footer__feedback">
                <li class="item">
                    Обратная связь: <br>
                    94mir.ms@gmail.com
                </li>
                <li class="item">
                    Заверстал: <b>
                    МируМир
                </li>
            </ul>
        </div>
    </section>
</footer>
