<section class="categories">
    <h3 class="visually-hidden">Категории товаров</h3>
    <div class="container">
        <div class="categories__list clearfix">
            <div class="item">
                <a href="" class="category category--orange">
                    <div class="category__description">
                        <h5 class="category__title">
                            Материалы
                        </h5>
                        <div class="category__tooltip">
                            <div class="tooltip__backgound">
                            </div>
                            <div class="tooltip__text">На любой вкус</div>
                        </div>
                    </div>

                    <div class="category__image">
                        {% include 'layouts/temp/img/category/material.njk' %}
                    </div>
                </a>
            </div>

            <div class="item">
                <a href="" class="category category--blue">
                    <div class="category__description">
                        <h5 class="category__title">
                            Инструмент
                        </h5>
                        <div class="category__tooltip">
                            <div class="tooltip__backgound">
                            </div>
                            <div class="tooltip__text">на все случаи</div>
                        </div>
                    </div>

                    <div class="category__image">
                        {% include 'layouts/temp/img/category/instruments.njk' %}
                    </div>
                </a>
            </div>

            <div class="item">
                <a href="" class="category category--purple">
                    <div class="category__description">
                        <h5 class="category__title">
                            Техника
                        </h5>
                        <div class="category__tooltip">
                            <div class="tooltip__backgound">
                            </div>
                            <div class="tooltip__text">для стройки</div>
                        </div>
                    </div>

                    <div class="category__image">
                        {% include 'layouts/temp/img/category/technika.njk' %}
                    </div>
                </a>
            </div>

            <div class="slider"></div>

            <div class="item">
                <a href="" class="category category--green">
                    <div class="category__description">
                        <h5 class="category__title">
                            Скидки 50%
                        </h5>
                        <div class="category__tooltip">
                            <div class="tooltip__backgound">
                            </div>
                            <div class="tooltip__text">на 350 товаров</div>
                        </div>
                    </div>

                    <div class="category__image">
                        {% include 'layouts/temp/img/category/discount.njk' %}
                    </div>
                </a>
            </div>

            <div class="item">
                <a href="" class="category">
                    <div class="category__description">
                        <h5 class="category__title">
                            Доставка
                        </h5>
                        <div class="category__tooltip">
                            <div class="tooltip__backgound">
                            </div>
                            <div class="tooltip__text">
                            Бесплатно</div>
                        </div>
                    </div>

                    <div class="category__image">
                        {% include 'layouts/temp/img/category/delivery.njk' %}
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
