{% extends 'layouts/base.njk' %}

{% block stylesheets %}
  {{ super() }}
  <link rel="stylesheet" href="dist/HomePage/main.css">
{% endblock %}

{% block body %}
  <p>{{ breeds }}</p>
  {% include 'layouts/HomePage/category.njk' %}
  {% include 'layouts/HomePage/popularProducts.njk' %}
  {% include 'layouts/HomePage/popularBrands.njk' %}
  {% include 'layouts/HomePage/services.njk' %}
  {% include 'layouts/HomePage/info.njk' %}
{% endblock %}

{% block application %}
  <script>
    var title = {{ breeds | dump | safe }}
    console.log (title);
    setTimeout(function () {
      console.log (title);
    }, 2000);
  </script>
{% endblock %}
