{% extends 'layouts/base.njk' %}

{% block stylesheets %}
  {{ super() }}
  <link rel="stylesheet" href="dist/HomePage/main.css">
{% endblock %}

{% block body %}
  {% include 'layouts/HomePage/category.njk' %}
  {% include 'layouts/HomePage/popularProducts.njk' %}
  {% include 'layouts/HomePage/popularBrends.njk' %}
{% endblock %}
