<section class="info">
    <div class="flex-container jc-space-between">
        <div class="info__company">
            <h3 class="info__title">компания "техномарт"</h3>
            <h5 class="info__description">
                Настоящий мужской шоппинг начинается здесь! Огромный выбор товаров для ремонта и
                <br>
                строительства не оставит равнодушными любителей сэкономить на гастарбайтерах.
            </h5>
            <h6 class="info__delivery">
                Мы можем доставить ваш товар в самые отдаленные точки России!
                <br>
                Техномарт работает со многими транспортными компаниями:
            </h6>
            <ul class="delivery__list">
                <li class="item">Деловые линии</li>
                <li class="item">Автотрейдинг</li>
                <li class="item">ЖелДорЭкспедиция</li>
            </ul>
            <a href="" class="info__link">подробнее о компании</a>
        </div>

        <div class="info__contacts">

        </div>
    </div>
</section>
