<section class="popular-brends">
    <div class="popular-brends__header flex-container jc-space-between">
        <h3 class="popular-brends__title">
            Популярные производители:
        </h3>
        <button class="to-popular-brends reset-btn">Все производители</button>
    </div>
</section>
