<section class="popular-products">
  <div class="popular-products__header flex-container jc-space-between ai-center">
    <h3 class="popular-products__title">
      Популярные товары:
    </h3>

    <button class="reset-btn to-popular-products">Все популярные товары</button>
  </div>

  <div class="popular-products__body flex-container jc-space-between">

    {% include 'layouts/basic/productCard/small/main.njk' %}
    {% include 'layouts/basic/productCard/small/main.njk' %}
    {% include 'layouts/basic/productCard/small/main.njk' %}
    {% include 'layouts/basic/productCard/small/main.njk' %}
  </div>
</section>
