<section class="popular-brands">
    <div class="popular-brands__header flex-container jc-space-between">
        <h3 class="popular-brands__title">
            Популярные производители:
        </h3>
        <button class="to-popular-brands reset-btn">Все производители</button>
    </div>

    <ul class="popular-brands__list container">
        <li class="item">
            <a href="" class="to-brand">
                <img src="/assets/img/brands/bosch.png" alt="">
            </a>
        </li>

        <li class="item">
            <a href="" class="to-brand">
                <img src="/assets/img/brands/Makita.png" alt="">
            </a>
        </li>

        <li class="item">
            <a href="" class="to-brand">
                <img src="/assets/img/brands/DeWALT.png" alt="">
            </a>
        </li>

        <li class="item">
            <a href="" class="to-brand">
                <img src="/assets/img/brands/interskol.png" alt="">
            </a>
        </li>

        <li class="item">
            <a href="" class="to-brand">
                <img src="/assets/img/brands/Hitachi.png" alt="">
            </a>
        </li>

        <li class="item">
            <a href="" class="to-brand">
                <img src="/assets/img/brands/LG.png" alt="">
            </a>
        </li>

        <li class="item">
            <a href="" class="to-brand">
                <img src="/assets/img/brands/AEG.png" alt="">
            </a>
        </li>

        <li class="item">
            <a href="" class="to-brand">
                <img src="/assets/img/brands/Metabo.png" alt="">
            </a>
        </li>
    </ul>
</section>
