<section class="popular-brands">
    <div class="popular-brands__header flex-container jc-space-between">
        <h3 class="popular-brands__title">
            Популярные производители:
        </h3>
        <button class="to-popular-brands reset-btn">Все производители</button>
    </div>
</section>
