<section class="popular-brands">
    <div class="popular-brands__header flex-container jc-space-between">
        <h3 class="popular-brands__title">
            Популярные производители:
        </h3>
        <button class="to-popular-brands reset-btn">Все производители</button>
    </div>

    <ul class="popular-brands__list container">
        <li class="item">
            <a href="" class="to-brand">
                <img src="/assets/img/brands/bosch.png" alt="">
            </a>
        </li>

        <li class="item">
            <a href="" class="to-brand">
                <img src="/assets/img/brands/makita.png" alt="">
            </a>
        </li>

        <li class="item">
            <a href="" class="to-brand">
                <img src="/assets/img/brands/dewalt.png" alt="">
            </a>
        </li>

        <li class="item">
            <a href="" class="to-brand">
                <img src="/assets/img/brands/interskol.png" alt="">
            </a>
        </li>

        <li class="item">
            <a href="" class="to-brand">
                <img src="/assets/img/brands/hitachi.png" alt="">
            </a>
        </li>

        <li class="item">
            <a href="" class="to-brand">
                <img src="/assets/img/brands/lg.png" alt="">
            </a>
        </li>

        <li class="item">
            <a href="" class="to-brand">
                <img src="/assets/img/brands/aeg.png" alt="">
            </a>
        </li>

        <li class="item">
            <a href="" class="to-brand">
                <img src="/assets/img/brands/metabo.png" alt="">
            </a>
        </li>

    </ul>
</section>
