<section class="services">
    <div class="container">
        <h3 class="services__title">сервисы</h3>
        <p class="services__description">Хороший интернет магазин отличается от плохого не только ценами!<br>
        Мы стараемся изо всех сил, что бы сделать ваши покупки приятными.</p>

        <ul class="services__list">
            <li class="item">
                <a href="" class="service__delivery services__tab">Доставка</a>
            </li>

            <li class="item">
                <a href="" class="service__guarantee services__tab">Гарантия</a>
            </li>

            <li class="item">
                <a href="" class="service__credit services__tab">Кредит</a>
            </li>
        </ul>
    </div>
</section>
