<div class="container">
<!--     section.breadcrumbs -->
        <ul class="breadcrumbs">
            <li class="item">
                <a href="" class="item-link">
                    <span class="home-img">
                        {% include 'layouts/icons/CatalogPage/homepage-icon.njk' %}
                    </span>
                </a>
            </li>

            <li class="item">
                <a href="" class="item-link">каталог</a>
            </li>

            <li class="item">
                <a href="" class="item-link">инструмент</a>
            </li>

            <li class="item">
                <a href="" class="item-link">перфораторы</a>
            </li>
        </ul>

    <div class="page-title">
        <h2>перфораторы</h2>
    </div>
</div>
