{% extends 'layouts/base.njk' %}

{% block stylesheets %}
  {{ super() }}
  <link rel="stylesheet" href="dist/CatalogPage/main.css">
{% endblock %}

{% block body %}
  <p>catalog page</p>
{% endblock %}
