{% extends 'layouts/base.njk' %}

{% block stylesheets %}
  {{ super() }}
  <link rel="stylesheet" href="dist/404page/main.css">
{% endblock %}

{% block body %}
  <h3>Запрашываимый рисурс ни найдин!!!!!1111111адинадинадинадцатьстоадинадцатьтысичьстоадинадцать</h3>
  <p>
    todo: сверстать страницу 404
  </p>
{% endblock %}
