<!DOCTYPE html>
<html lang="en">
<head>
  {% block meta %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% endblock %}
  <link href="https://fonts.googleapis.com/css?family=Cuprum:400,700&display=swap" rel="stylesheet">

  {% block stylesheets %}
    <link rel="stylesheet" href="dist/App/main.css">
  {% endblock %}

  <title>{{ title }}</title>
</head>
<body>
  {% block header %}
    {% include 'layouts/basic/header/main.njk' %}
  {% endblock %}

  {% block body %}{% endblock %}

  {% block footer %}{% endblock %}

  {% block application %}{% endblock %}
</body>
</html>
