<div class="product-card product-card--small">
    <div class="product-card__preview">
        <img src="https://santel.kiev.ua/images/product_images/popup_images/9146_0.png" alt="product-image">
    </div>

    <div class="product-card__title">
        Перфоратор BOSCH BFG 9000
    </div>

    <div class="product-card__prices">
        <div class="prices__old-price">32500 P.</div>
        <div class="prices__new-price">25500 P.</div>
    </div>
</div>