.popular-brends__header {
    margin-bottom: 20px;
    padding: 30px 25px;
    align-items: center;
    background-color: #f9f5f0;



    .popular-brends__title {
        font-size: 30px;
        line-height: 30px;
        color: #32425c;
        text-transform: uppercase;
        font-weight: 100;
    }

    .to-popular-brends {
        padding: 12px 70px;
        color: #fff;
        background-color: #ee3643;
        border-radius: 5px;

    }
}
