.services {
    width: 100%;
    height: 522px;
    background-color: #f4f7f9;

    .services__title {
        padding-top: 60px;
        padding-bottom: 30px;
        font-size: 30px;
        line-height: 30px;
        font-weight: 100;
        text-transform: uppercase;
        color: #000;
    }

    .services__description {
        font-size: 13px;
        line-height: 24px;
    }
}

.tabs__list {
    position: relative;
    width: fit-content;

    .item {
        &:not(:first-child) {
            .services__tab {
                border-top: 1px solid #4d627b;
            }
        }
    }

    .services__tab {
        display: flex;
        align-items: center;
        padding-left: 22px;
        width: 240px;
        height: 60px;
        font-size: 21px;
        line-height: 30px;
        background-color: #32425c;

        &:hover {
            color: #32425c;
            background-color: #fff;
            border-color: transparent;
            transition: .3s;
        }
    }

    &::after {
        position: absolute;
        top: -45px;
        right: 10px;
        content: url('../../assets/shadows/shadow-for-services-tab.png');
        display: block;
        width: 0;
        height: 240px;
    }
}

.services__tabs {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .tab__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;


        .tab__title {
            padding-bottom: 40px;
            font-size: 36px;
            line-height: 36px;
            font-weight: 100;
            color: #32425c;
        }

        .tab__description {
            font-size: 13px;
        }
    }

    .tab__image {
        position: relative;

        &::after {
            position: absolute;
            display: block;
            bottom: -52px;
            left: -261px;
            width: 200px;
            height: 200px;
            z-index: 3;
            content: url('../../assets/shadows/shadow-for-tab-image.png');
        }

        img {
            position: relative;
            z-index: 6;
        }
    }
}
