<header class="main-header">
    <div class="main-header__top-line-backgound">
        <div class="container">
            <div class="main-header__logo">
                <a href="">техномарт</a>
            </div>

            <div class="main-header__search">
                <input type="text">
            </div>

            <div class="main-header__bookmarks">
                <a href="">Закладки:</a>
            </div>

            <div class="main-header__basket">
                <button type="button"></button>
            </div>

            <div class="main-header__to-checkout">
                <a href="">Оформить заказ</a>
            </div>
        </div>
    </div>

</header>
