<nav class="main-header__navigation">
    <ul class="flex-container jc-space-between ai-center">
        <li><a href="">Главная</a></li>
        <li><a href="">Компания</a></li>
        <li><a href="">Каталог</a></li>
        <li><a href="">Новости</a></li>
        <li><a href="">Спецпредложения</a></li>
        <li><a href="">Доставка</a></li>
        <li><a href="">Контакты</a></li>
    </ul>
</nav>
